<nav>
    <div class = "left-logo">
        <h1> Sell Easy</h1>
    </div>
    <div class = "middle-search-panel">
        <select> 
            <option>Appliances</option>
            <option>Furniture</option>
            <option>Beature Care</option>
            <option>Men clothes</option>
            <option>Men clothes</option>
            <option>Men clothes</option>
            <option>Shoes</option>
            <option>Laptops</option> 
        </select>
        <div class = "search">
            <input type = "text" placeholder = "search products"/>
            <i class="fa-duotone fa-magnifying-glass"></i>
        </div>
    </div>
    <div class = "right">
        <ul class= "auth">
            <li>login</li>
            <li>signup</li>
        </ul>
        <div class= "shopping-cart">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <p>{{2}}</p>
        </div>
    </div>
</nav>