{% extends 'base.html'%}

{% block title %}Dashboard{% endblock %}

{% block content%}

<div class= "container">
    <h1>{{store.name}}</h1>
    <aside>
        <div>
            {% comment %} {% endcomment %}
            <h2>{{store.owner.first_name}}</h2>
        </div>
        <p>Products</p>
    <aside>
    <main>
        <h2>Welcome, {{user.first_name}} </h2>
        <h3>This is the dashboard</h3>
        {% for product in store.products.all %}
        <div>
            <h1>{{product.name|title}}</h1>
            <p>{{product.price}}</p>
        </div>
        {% endfor %}
    </main>
</div>
{% endblock %}